.App {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   min-height: 82vh;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  body {
   background-image: url("./images/coin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   margin: 0;
   padding: 0;
 }
 .App-logo {
   height: 150px;
   width: 150px;
   border-radius: 50%; /* Makes it circular */
   object-fit: cover;  /* Keeps it fitted */
   overflow: hidden;
 }
