/* .app {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
    flex-direction: column;
    background-color: #73745d;
    transition: background-color var(--transition-duration), 

  }

 .app-logo {
   height: 150px;
   width: 150px;
   border-radius: 50%;  /* Makes it circular 
   object-fit: cover;  /* Keeps it fitted *
   overflow: hidden;
 }

 .app__main {
  flex: 1;
  padding-top: 4rem; /* 16 * 0.25rem *
  background-color: gainsboro;
} */

::selection {
  background-color: #1a8c88; /* Blue background for selected text */
  color: white; /* White text color */
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-bg);
  color: var(--color-light-text);
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}

.app--dark {
  background-color: var(--color-dark-bg);
  color: var(--color-dark-text);
}

.app__main {
  flex: 1;
  padding-top: 4rem; /* 16 * 0.25rem */
}
