.App {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #e0f7fa;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .App-logo {
   height: 150px;
   width: 150px;
   border-radius: 50%; /* Makes it circular */
   object-fit: cover;  /* Keeps it fitted */
   overflow: hidden;
 }
 